<!DOCTYPE html>
<html>
<head>
<title>Complete your Profile</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Bootstrap -->
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/main.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/bootstrap.css'}">
</head>
<body>
	<div class="container"
		style="margin-left: 300px; margin-top: 60px; border: 2px solid blue; width: 500px;margin-bottom: 40px;">
		<h2 style="margin-left: 20px;">Complete your Profile</h2>
		<div style="margin-left: 35px;">
			#{form @fillProfile(), id:'fillProfile'}
				<div class="form-group">
					<label for="firstname" class="col-md-2"> First Name: </label>
					<div class="col-md-10">
						<input type="text" class="form-control" id="firstname">
					</div>
				</div>
				<div class="form-group">
					<label for="lastname" class="col-md-2"> Last Name: </label>
					<div class="col-md-10">
						<input type="text" class="form-control" id="lastname">
					</div>
				</div>

				<div class="form-group">
					<label for="emailaddress" class="col-md-2"> Email address:
					</label>
					<div class="col-md-10">
						<input type="email" class="form-control" id="emailaddress">
					</div>
				</div>

				<div class="form-group">
					<label for="studyProgram" class="col-md-2"> Study Program:
					</label>
					<div class="col-md-10">
						<input type="text" class="form-control" id="studyProgram"
							placeholder="Study Program">
					</div>
				</div>

				<div class="form-group">
					<label for="university" class="col-md-2"> University: </label>
					<div class="col-md-10">
						<input type="text" class="form-control" id="university"
							placeholder="University">
					</div>
				</div>

				<div class="form-group">
					<label for="semester" class="col-md-2"> Semester: </label>
					<div class="col-md-10">
						<select name="semester" id="semester" class="form-control">
							<option>--Please Select--</option>
							<option>I</option>
							<option>II</option>
							<option>III</option>
							<option>IV</option>
							<option>V</option>
							<option>VI</option>
							<option>VII</option>
							<option>VIII</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="city" class="col-md-2"> City: </label>
					<div class="col-md-10">
						<input type="text" class="form-control" id="city"
							placeholder="City">
					</div>
				</div>
				
				<div class="form-group">
					<label for="skills" class="col-md-2"> Skills: </label>
					<div class="col-md-10">
						<input type="text" class="form-control" id="skills"
							placeholder="Skills">
					</div>
				</div>
				
				<div class="form-group">
					<label for="courses" class="col-md-2"> Courses this semester: </label>
					<div class="col-md-10">
						<input type="text" class="form-control" id="courses"
							placeholder="Courses">
					</div>
				</div>
				
				<div class="form-group">
					<label for="projects" class="col-md-2"> Ongoing Projects: </label>
					<div class="col-md-10">
						<input type="text" class="form-control" id="projects"
							placeholder="Projects">
					</div>
				</div>

				<div class="form-group">
					<label for="uploadimage" class="col-md-2"> Upload Image: </label>
					<div class="col-md-10">
						<input type="file" name="uploadimage" id="uploadimage">
						<p class="help-block">Allowed formats: jpeg, jpg, gif, png</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-10">
						<button type="submit" class="btn btn-info">Submit</button>
					</div>
				</div>
			#{/form}
		</div>
	</div>
</body>
</html>